* {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.carousel-item img {
  filter: brightness(40%);
}

/*  */
/* .courses-header {
  width: 60%;
} */
.courses-header {
  margin: 0 15%;
}

.card-img img {
  width: 25%;
}
.card-part {
  margin: 10px;
}

.company-logo {
  width: 80%;
}

/* responsive */

/* @media screen and (){
  
} */
