* {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.carousel-item img {
  filter: brightness(40%);
}

/*  */

.card-img img {
  width: 25%;
}
.card-part {
  margin: 10px;
}
