* {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.carousel-item img {
  filter: brightness(40%);
}

.navbar-toggler {
  margin-right: 100px;
}
.courses-header {
  margin: 0 15%;
}

.card-img img {
  width: 25%;
}
.card-part {
  margin: 10px;
}

@media screen and (min-width: 992px) {
  .registrationbtn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .registrationbtn {
    display: none;
  }
  .row-cols-sm-1 {
    display: flex;
    flex-direction: column;
  }
  .d-flex {
    display: flex;
    flex-direction: column;
    margin: 0 30%;
  }
  .col-sm-12 img {
    width: 120%;
    height: 250px;
  }
  .card-body {
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .carousel-body h1 {
    font-size: 22px;
  }
  .carousel-body p {
    font-size: 15px;
  }
}
